/* Index Page */

h2 {
    
}

.Dogimage {
    height: 400px;
    width: 450px;
}

#AboutMeFont {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;

}


/* Portfolio Page  */

#SadieByTheLake {
    height: 295px;
    width: 350px;
    margin-top: 30px;
    margin-left: 100px;
}

#SadieAndPenny {
    height: 600px;
    width: 500px;
    margin-top: 30px;
    margin-left: 100px;
}

@media only screen and (max-width: 1200px) {
    #SadieAndPenny {
        height: 295px;
        width: 350px;
        margin-top: 10px;
        margin-left: 100px;
    }
}

#SadieAndKK {
    height: 295px;
    width: 350px;
    margin-left: 100px;
    margin-top: 10px;
}

